---
layout: layout.html
title: Buckley Sports Management | Buckleysports.com
currentPage: homepage
---


<section id="portfolio-details" class="portfolio-details nav-spacer">
  <div class="container-fluid" style="max-width:1400px;">
    <div class="row d-lg-none d-xl-none text-center">
      <div class="col-12 mb-3">
        <h1>Buckley Sports Management Representing top talent in ice hockey since 2006.</h1>
      </div>
  </div>

    <div class="row gy-4">

      <div class="col-lg-8">
        <div class="slider-pictures portfolio-details-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
          <div class="swiper-wrapper align-items-center" aria-live="off" style="transition-duration: 0ms;">
          {% for athlete in athletes %}
            <div class="swiper-slide" >
              <img src="{{athlete.image}}" />
            </div>
          {% endfor %}
          </div>

          <div class="swiper-nav ">
            <div class="swiper-button-next d-lg-none d-xl-none "></div>
            <div class="swiper-button-prev d-lg-none d-xl-none "></div>
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </div>

      <div class="col-lg-4 position-relative hero-details">
        <div class="slider-bgd"></div>
        <div class="portfolio-info d-none d-lg-block">
          <h1 class="home-h1"><strong>Buckley Sports Management</strong> Representing top talent in ice hockey since 2006.</h1>
        </div>

        <div class="slider-text">
          <div class="swiper-wrapper">
            {% for athlete in athletes %}
            <div class="swiper-slide" >
              <div class="hero-player">
                <h2>{{athlete.name}}</h2>
                <div>{{athlete.stats | safe }}</div>
            </div>
            </div>
            {% endfor %}

          </div>

          <div class="swiper-nav">
            <div class="slider-text-next swiper-button-next d-none d-xs-none d-sm-none  d-md-none d-lg-block"></div>
            <div class="slider-text-prev swiper-button-prev d-none  d-xs-none  d-sm-none d-md-none d-lg-block"></div>
          </div>

      </div>

        
      </div>

    </div>

  </div>
</section>


<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row d-flex justify-content-center" data-aos="zoom-in">
          <div class="col-lg-8  align-items-center pt-4 pb-4">
          <p class="text-big">
            We proudly provide complete, personal representation services which enable our clients to focus their time and energy on playing hockey and aspiring toward individual goals.</p></div> 
        </div>

      </div>
    </section>
    <!-- End Cliens Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

    <!-- ======= Our Athletes Section ======= -->
    <section id="athletes" class="athletes">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Our Athletes</h2>
        </div>

        <div class="row justify-content-center ">

          {% for athlete in athletes %}

            <div class="col-xl-2 col-md-2 col-sm-4 col-xs-4 col-4 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box no-hover">
                <div class="icon"><img src="{{athlete.imageSm}}" /></div>
                <h4>{{athlete.name}}</h4>
                <p class="mb-4">{{athlete.team}}</p>
              </div>
            </div>

          {% endfor %}


        </div>
        <div class="section-title text-center">
        <a href="/athletes" class="btn btn-secondary" >
          View All
        </a>
      </div>
      </div>
    </section><!-- End Services Section -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Client Services</h2>
          <p class="text-big">Buckley Sports Management is committed to the long term success of its client-athletes. This begins with helping all clients realize their absolute professional potential. We&nbsp;offer&nbsp;assistance&nbsp;with:</p>
        </div>

        <div class="row justify-content-center mr-0 ml-0 ">

          {% for service in services %}

            <div  style="cursor:pointer;"  onclick="location.href='{{global.baseUrl}}services#{{service.id}}';" class="col-xl-3 col-md-6 col-sm-6 col-xs-6 col-6 d-flex mt-4 mt-md-0 mb-md-5  text-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box d-flex justify-content-center align-items-center">
                <!-- <div class="icon"><img src="{{service.image}}" /></div> -->
                <h4>{{service.title}}</h4>
              </div>
            </div>

          {% endfor %}


        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Team Section ======= -->
    <!-- ======= Our Athletes Section ======= -->
    <section id="athletes" class="athletes">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Meet the Team</h2>
        </div>

        <div class="row justify-content-center ">

          {% for mate in team %}

            <div style="cursor:pointer;" onclick="location.href='{{global.baseUrl}}about-us#{{mate.link}}';" class="col-xl-3 col-md-3 col-sm-5 col-xs-5 col-5 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{mate.imageSm}}" /></div>
                <h4>{{mate.name}}</h4>
                <p class="mb-4">{{mate.title}}</p>
              </div>
            </div>

          {% endfor %}

        </div>


        <div class="section-title text-center mb-4 mt-3">
          <a href="/about-us" class="btn btn-secondary" >
            Learn More
          </a>
        </div>

        <div class="section-title text-center">
          <h3 class="mt-5">European Partners </h3>
          <!-- <a href="https://3goals.com/fi/etusivu" target="_blank" ><img src="/assets/img/logo/3goals.jpg" /></a> -->
        </div>

        <div class="row justify-content-center">
        {% for mate in partners %}

        <div style="cursor:pointer;" onclick="location.href='{{global.baseUrl}}about-us#{{mate.link}}';" class="col-xl-3 col-md-3 col-sm-5 col-xs-5 col-5 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><img src="{{mate.imageSm}}" /></div>
            <h4>{{mate.name}}</h4>
            <p class="mb-4">{{mate.title}}</p>
          </div>
        </div>

          {% endfor %}
          </div>

          <div class="section-title text-center mt-3">
            <a href="/about-us" target="_blank" class="btn btn-secondary" >
              Learn More
            </a>
          </div>
      
      </div>
    </section>
  
    <!-- End Team Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

      <!-- ======= Scouting Section ======= -->
      <section id="scouting" class="scouting">
        <div class="container width-max-sm" data-aos="fade-up">
  
          <div class="section-title text-center">
            <h2>scouting, coaching, and management</h2>
          <p class="text-big">Throughout the years, Buckley Sports Management has seen a lineage of its former players remain in the NHL by way of scouting, coaching, and management. Notably:</p>
          </div>
  
          <div class="row justify-content-center ">
  
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-12 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
                
                
              <ul class="box">
                {% for former in former %}
                <li><strong>{{former.name}}</strong> – {{former.team}} <i>{{former.role}}</i></li>
                  {% endfor %}
              </ul>
                </div>
              </div>

          </div>

        </div>
      </section>

  </main><!-- End #main -->

