---
layout: layout.html
title: "Buckely Sports Management"
---



<section id="portfolio-details" class="portfolio-details nav-spacer">
  <div class="container-fluid ">
    <div class="row d-lg-none d-xl-none text-center">
      <div class="col-12 mb-3">
        <h1>Buckley Sports Management Representing top talent in ice hockey since 2006.</h1>
      </div>
  </div>

    <div class="row gy-4">

      <div class="col-lg-8">
        <div style="max-height:750px" class="slider-pictures portfolio-details-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
          <div class="swiper-wrapper align-items-center" id="swiper-wrapper-25dc87b8765b1a58" aria-live="off" style="transform: translate3d(-2944px, 0px, 0px); transition-duration: 0ms;">
          {% for athlete in slider %}
            <div class="swiper-slide" >
              <img src="{{athlete.image}}" />
            </div>
          {% endfor %}
          </div>

          <div class="swiper-nav ">
            <div class="swiper-button-next d-lg-none d-xl-none "></div>
            <div class="swiper-button-prev d-lg-none d-xl-none "></div>
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </div>

      <div class="col-lg-4 position-relative hero-details">
        <div class="slider-bgd"></div>
        <div class="portfolio-info d-none d-lg-block">
          <h1 class="home-h1"><strong>Buckley Sports Management</strong> Representing top talent in ice hockey since 2006.</h1>
        </div>

        <div class="slider-text">
          <div class="swiper-wrapper">
            {% for athlete in slider %}
            <div class="swiper-slide" >
              <div class="hero-player">
                <div>Pro Player Represented</div>
                <h2>{{athlete.name}}</h2>
            </div>
            </div>
            {% endfor %}

          </div>

          <div class="swiper-nav">
            <div class="swiper-button-next d-none d-xs-none d-sm-none  d-md-none d-lg-block"></div>
            <div class="swiper-button-prev d-none  d-xs-none  d-sm-none d-md-none d-lg-block"></div>
          </div>

      </div>

        
      </div>

    </div>

  </div>
</section>


<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row d-flex justify-content-center" data-aos="zoom-in">
          <div class="col-lg-8  align-items-center pt-4 pb-4">
          <p class="text-big">We proudly provide complete, personal representation services which enable our clients to focus their time and energy on playing hockey and aspiring toward individual goals.</p></div> 
        </div>

      </div>
    </section>
    <!-- End Cliens Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

    <!-- ======= Our Athletes Section ======= -->
    <section id="athletes" class="athletes">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Our Athletes</h2>
        </div>

        <div class="row justify-content-center ">

          {% for athlete in athletes %}

            <div class="col-xl-2 col-md-2 col-sm-4 col-xs-4 col-4 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{athlete.imageSm}}" /></div>
                <h4><a href="">{{athlete.name}}</a></h4>
                <p class="mb-4">{{athlete.team}}</p>
              </div>
            </div>

          {% endfor %}


        </div>
        <div class="section-title text-center">
        <button type="button" class="btn btn-secondary">
          View All
        </button>
      </div>
      </div>
    </section><!-- End Services Section -->



    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Client Services</h2>
          <p>Buckley Sports Management is committed to the long term success of its client-athletes. This begins with helping all clients realize their absolute professional potential. We offer assistance with:</p>
        </div>

        <div class="row justify-content-center mr-0 ml-0 ">

          {% for service in services %}

            <div  style="cursor:pointer;"  onclick="location.href='/services#{{service.id}}';" class="col-xl-3 col-md-4 col-6 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{service.image}}" /></div>
                <h4>{{service.title}}</h4>
              </div>
            </div>

          {% endfor %}


        </div>

      </div>
    </section><!-- End Services Section -->



    <!-- ======= Team Section ======= -->
    <!-- ======= Our Athletes Section ======= -->
    <section id="athletes" class="athletes">
      <div class="container width-max-sm" data-aos="fade-up">

        <div class="section-title text-center">
          <h2>Meet the Team</h2>
        </div>

        <div class="row justify-content-center ">

          {% for mate in team %}

            <div style="cursor:pointer;" onclick="location.href='/about-us#{{mate.link}}';" class="col-xl-3 col-md-3 col-sm-5 col-xs-5 col-5 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><img src="{{mate.imageSm}}" /></div>
                <h4>{{mate.name}}</h4>
                <p class="mb-4">{{mate.title}}</p>
              </div>
            </div>

          {% endfor %}


        </div>
        <div class="section-title text-center">
        <button type="button" class="btn btn-secondary"  onclick="location.href='/about-us';">
          Learn More
        </button>
      </div>
      </div>
    </section>
  
    <!-- End Team Section -->

    <div class="container aos-init aos-animate" data-aos="fade-up"><hr /></div>

      <!-- ======= Scouting Section ======= -->
      <section id="scouting" class="scouting">
        <div class="container width-max-sm" data-aos="fade-up">
  
          <div class="section-title text-center">
            <h2>scouting, coaching, and management</h2>
          <p>Throughout the years, Buckley Sports Management has seen a lineage of its former players remain in the NHL by way of scouting, coaching, and management. Notably:</p>
          </div>
  
          <div class="row justify-content-center ">
  
              <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-12 d-flex align-items-stretch mt-4 mt-md-0 mb-4" data-aos="zoom-in" data-aos-delay="200">
                
                
              <ul class="box">
                {% for former in former %}
                <li><strong>{{former.name}}</strong> – {{former.team}} <i>{{former.role}}</i></li>
                  {% endfor %}
              </ul>
                </div>
              </div>

          </div>

        </div>
      </section><!-- End Scouting Section -->



    <!-- ======= Contact Section ======= -->
    <!-- <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>



        </div>

      </div>
    </section> -->
    
    <!-- End Contact Section -->

  </main><!-- End #main -->

